<!DOCTYPE html>
<html>
<head>
  <title>Blog On Rails</title>
</head>
<body>
  <header><h1>Add a new Blog Entry in this area of the Interwebs</h1></header>
  <%= render 'nav.html.erb' %>
    <%= form_for(post) do |form| %>

      <div class="title-field">
      <%= form.text_field :title, size: '50x20' %>
      </div>

      <div class='body-field'>
      <%= form.text_area  :body, size: '120x30' %>
      </div>

      <div class="new-submit">
      <%= form.submit %>
      </div>
    <% end %>
  </div>
</body>
</html>
