<!DOCTYPE html>
<html>
<head>
  <title>Blog On Rails</title>
</head>
<body>
  <header><h1>Your Post</h1></header>
  <%= render 'nav.html.erb' %>
  <div class='title'>
    <%= post.title %>
  </div>

  <div class='body'>
    <%= post.body %>
    <div class='time'>
      <%= post.created_at.strftime("%b %-d %Y") %>
    </div>
  </div>

  <div class='delete-div'>
    <%= button_to('Delete this Post', '/post', method: 'delete', remote: true, data: { confirm: 'You sure, Bub ?', disable_with: 'loading...' }) %>
  </div>

</body>
</html>
